body{
    background-image: url('https://media.istockphoto.com/id/537471191/photo/white-gray-abstract-background.jpg?s=612x612&w=0&k=20&c=ikh5RTV2BKS9MwU3XBcXQU3xtpaibYus3TcJ8nG3gUw=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}
.nav-section{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    padding-left: 550px;
    margin-right: 20px;
}
.home{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1rem;
}
.home a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.login{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1rem;
}
.login a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.signup1{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1rem;
}
.signup1 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.contact{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1rem;
}
.contact a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.signup-section{
    /* full in a box */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* make it beautiful */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.user{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 5px;
}
.email{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 5px;
}
.pass{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 5px;
}
.sign{
    width: 100px;
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 110px;
    font-size: 1rem;
    font-weight: bold;
}
.login1 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    /* beautiful login1 button */
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    border: 1px solid black;
}